Name: Ankita Kalyankar Roll no: 13225 Class: TE (B1) Title: Creation of Dataset using Microsoft Excel.3. Identification and Handling of Outliers

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("MYdataset.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MathScore          35 non-null     float64
 1   Reading_score      39 non-null     float64
 2   Writing_score	     41 non-null     float64
 3   Performance_score  41 non-null     float64
 4   Club_joindate      37 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [5]:
df=pd.read_csv("MYdataset.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MathScore          35 non-null     float64
 1   Reading_score      39 non-null     float64
 2   Writing_score	     41 non-null     float64
 3   Performance_score  41 non-null     float64
 4   Club_joindate      37 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [7]:
df.fillna(39)

,MathScore,Reading_score,Writing_score\t,Performance_score,Club_joindate
0,47.0,84.0,36.0,23.0,2024.0
1,59.0,71.0,39.0,89.0,2024.0
2,39.0,70.0,48.0,19.0,39.0
3,39.0,83.0,78.0,75.0,2020.0
4,60.0,113.0,85.0,39.0,2024.0
5,20.0,100.0,64.0,62.0,2022.0
6,44.0,117.0,35.0,17.0,2022.0
7,44.0,87.0,90.0,50.0,2023.0
8,47.0,84.0,88.0,69.0,2020.0
9,24.0,89.0,88.0,48.0,2023.0
10,39.0,77.0,81.0,71.0,2020.0
11,39.0,114.0,86.0,32.0,2020.0
12,39.0,75.0,96.0,49.0,2023.0
13,39.0,80.0,65.0,19.0,2024.0
14,39.0,91.0,58.0,30.0,2020.0
15,60.0,103.0,41.0,87.0,2021.0
16,49.0,97.0,36.0,49.0,2022.0
17,56.0,88.0,45.0,37.0,2021.0
18,36.0,76.0,64.0,76.0,2023.0
19,53.0,72.0,43.0,32.0,2022.0
20,55.0,80.0,70.0,48.0,2023.0
21,21.0,39.0,35.0,14.0,2021.0
22,56.0,39.0,57.0,11.0,2020.0
23,37.0,39.0,96.0,74.0,2021.0
24,45.0,103.0,68.0,52.0,2024.0
25,22.0,83.0,68.0,79.0,2021.0
26,51.0,81.0,88.0,34.0,2021.0
27,48.0,78.0,67.0,41.0,39.0
28,30.0,115.0,90.0,78.0,39.0
29,50.0,103.0,36.0,75.0,39.0
30,27.0,93.0,93.0,42.0,39.0
31,30.0,95.0,45.0,84.0,2023.0
32,54.0,111.0,83.0,27.0,2022.0
33,55.0,112.0,76.0,51.0,2020.0
34,23.0,75.0,100.0,47.0,2023.0
35,52.0,119.0,73.0,14.0,2022.0
36,26.0,86.0,53.0,47.0,2023.0
37,29.0,99.0,47.0,11.0,2023.0
38,43.0,103.0,85.0,77.0,2020.0
39,43.0,120.0,37.0,44.0,2020.0
40,51.0,89.0,56.0,26.0,2020.0
41,27.0,106.0,73.0,90.0,2024.0

In [8]:
df.min

<bound method DataFrame.min of     MathScore  Reading_score  Writing_score\t  Performance_score  \
0        47.0           84.0             36.0               23.0
1        59.0           71.0              NaN               89.0
2         NaN           70.0             48.0               19.0
3         NaN           83.0             78.0               75.0
4        60.0          113.0             85.0                NaN
5        20.0          100.0             64.0               62.0
6        44.0          117.0             35.0               17.0
7        44.0           87.0             90.0               50.0
8        47.0           84.0             88.0               69.0
9        24.0           89.0             88.0               48.0
10        NaN           77.0             81.0               71.0
11        NaN          114.0             86.0               32.0
12        NaN           75.0             96.0               49.0
13        NaN           80.0             65.0               19.0
14        NaN           91.0             58.0               30.0
15       60.0          103.0             41.0               87.0
16       49.0           97.0             36.0               49.0
17       56.0           88.0             45.0               37.0
18       36.0           76.0             64.0               76.0
19       53.0           72.0             43.0               32.0
20       55.0           80.0             70.0               48.0
21       21.0            NaN             35.0               14.0
22       56.0            NaN             57.0               11.0
23       37.0            NaN             96.0               74.0
24       45.0          103.0             68.0               52.0
25       22.0           83.0             68.0               79.0
26       51.0           81.0             88.0               34.0
27       48.0           78.0             67.0               41.0
28       30.0          115.0             90.0               78.0
29       50.0          103.0             36.0               75.0
30       27.0           93.0             93.0               42.0
31       30.0           95.0             45.0               84.0
32       54.0          111.0             83.0               27.0
33       55.0          112.0             76.0               51.0
34       23.0           75.0            100.0               47.0
35       52.0          119.0             73.0               14.0
36       26.0           86.0             53.0               47.0
37       29.0           99.0             47.0               11.0
38       43.0          103.0             85.0               77.0
39       43.0          120.0             37.0               44.0
40       51.0           89.0             56.0               26.0
41       27.0          106.0             73.0               90.0

    Club_joindate
0          2024.0
1          2024.0
2             NaN
3          2020.0
4          2024.0
5          2022.0
6          2022.0
7          2023.0
8          2020.0
9          2023.0
10         2020.0
11         2020.0
12         2023.0
13         2024.0
14         2020.0
15         2021.0
16         2022.0
17         2021.0
18         2023.0
19         2022.0
20         2023.0
21         2021.0
22         2020.0
23         2021.0
24         2024.0
25         2021.0
26         2021.0
27            NaN
28            NaN
29            NaN
30            NaN
31         2023.0
32         2022.0
33         2020.0
34         2023.0
35         2022.0
36         2023.0
37         2023.0
38         2020.0
39         2020.0
40         2020.0
41         2024.0  >

In [9]:
df.head(15)

,MathScore,Reading_score,Writing_score\t,Performance_score,Club_joindate
0,47.0,84.0,36.0,23.0,2024.0
1,59.0,71.0,NaN,89.0,2024.0
2,NaN,70.0,48.0,19.0,NaN
3,NaN,83.0,78.0,75.0,2020.0
4,60.0,113.0,85.0,NaN,2024.0
5,20.0,100.0,64.0,62.0,2022.0
6,44.0,117.0,35.0,17.0,2022.0
7,44.0,87.0,90.0,50.0,2023.0
8,47.0,84.0,88.0,69.0,2020.0
9,24.0,89.0,88.0,48.0,2023.0
10,NaN,77.0,81.0,71.0,2020.0
11,NaN,114.0,86.0,32.0,2020.0
12,NaN,75.0,96.0,49.0,2023.0
13,NaN,80.0,65.0,19.0,2024.0
14,NaN,91.0,58.0,30.0,2020.0

In [10]:
df.describe()

,MathScore,Reading_score,Writing_score\t,Performance_score,Club_joindate
count,35.000000,39.000000,41.000000,41.000000,37.000000
mean,42.114286,92.871795,66.414634,48.780488,2021.864865
std,12.885860,14.979248,20.549910,24.265729,1.475017
min,20.000000,70.000000,35.000000,11.000000,2020.000000
25%,29.500000,80.500000,47.000000,30.000000,2020.000000
50%,45.000000,89.000000,68.000000,48.000000,2022.000000
75%,52.500000,103.000000,85.000000,74.000000,2023.000000
max,60.000000,120.000000,100.000000,90.000000,2024.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MathScore          35 non-null     float64
 1   Reading_score      39 non-null     float64
 2   Writing_score	     41 non-null     float64
 3   Performance_score  41 non-null     float64
 4   Club_joindate      37 non-null     float64
dtypes: float64(5)
memory usage: 1.8 KB

In [12]:
df

,MathScore,Reading_score,Writing_score\t,Performance_score,Club_joindate
0,47.0,84.0,36.0,23.0,2024.0
1,59.0,71.0,NaN,89.0,2024.0
2,NaN,70.0,48.0,19.0,NaN
3,NaN,83.0,78.0,75.0,2020.0
4,60.0,113.0,85.0,NaN,2024.0
5,20.0,100.0,64.0,62.0,2022.0
6,44.0,117.0,35.0,17.0,2022.0
7,44.0,87.0,90.0,50.0,2023.0
8,47.0,84.0,88.0,69.0,2020.0
9,24.0,89.0,88.0,48.0,2023.0
10,NaN,77.0,81.0,71.0,2020.0
11,NaN,114.0,86.0,32.0,2020.0
12,NaN,75.0,96.0,49.0,2023.0
13,NaN,80.0,65.0,19.0,2024.0
14,NaN,91.0,58.0,30.0,2020.0
15,60.0,103.0,41.0,87.0,2021.0
16,49.0,97.0,36.0,49.0,2022.0
17,56.0,88.0,45.0,37.0,2021.0
18,36.0,76.0,64.0,76.0,2023.0
19,53.0,72.0,43.0,32.0,2022.0
20,55.0,80.0,70.0,48.0,2023.0
21,21.0,NaN,35.0,14.0,2021.0
22,56.0,NaN,57.0,11.0,2020.0
23,37.0,NaN,96.0,74.0,2021.0
24,45.0,103.0,68.0,52.0,2024.0
25,22.0,83.0,68.0,79.0,2021.0
26,51.0,81.0,88.0,34.0,2021.0
27,48.0,78.0,67.0,41.0,NaN
28,30.0,115.0,90.0,78.0,NaN
29,50.0,103.0,36.0,75.0,NaN
30,27.0,93.0,93.0,42.0,NaN
31,30.0,95.0,45.0,84.0,2023.0
32,54.0,111.0,83.0,27.0,2022.0
33,55.0,112.0,76.0,51.0,2020.0
34,23.0,75.0,100.0,47.0,2023.0
35,52.0,119.0,73.0,14.0,2022.0
36,26.0,86.0,53.0,47.0,2023.0
37,29.0,99.0,47.0,11.0,2023.0
38,43.0,103.0,85.0,77.0,2020.0
39,43.0,120.0,37.0,44.0,2020.0
40,51.0,89.0,56.0,26.0,2020.0
41,27.0,106.0,73.0,90.0,2024.0

In [13]:
df.MathScore.fillna(89)

0     47.0
1     59.0
2     89.0
3     89.0
4     60.0
5     20.0
6     44.0
7     44.0
8     47.0
9     24.0
10    89.0
11    89.0
12    89.0
13    89.0
14    89.0
15    60.0
16    49.0
17    56.0
18    36.0
19    53.0
20    55.0
21    21.0
22    56.0
23    37.0
24    45.0
25    22.0
26    51.0
27    48.0
28    30.0
29    50.0
30    27.0
31    30.0
32    54.0
33    55.0
34    23.0
35    52.0
36    26.0
37    29.0
38    43.0
39    43.0
40    51.0
41    27.0
Name: MathScore, dtype: float64

In [14]:
df.columns.values

array(['MathScore', 'Reading_score', 'Writing_score\t',
       'Performance_score', 'Club_joindate'], dtype=object)

In [15]:
df.iloc[20]

MathScore              55.0
Reading_score          80.0
Writing_score\t        70.0
Performance_score      48.0
Club_joindate        2023.0
Name: 20, dtype: float64

In [16]:
df.iloc[:,2:4]

    Writing_score\t  Performance_score
0              36.0               23.0
1               NaN               89.0
2              48.0               19.0
3              78.0               75.0
4              85.0                NaN
5              64.0               62.0
6              35.0               17.0
7              90.0               50.0
8              88.0               69.0
9              88.0               48.0
10             81.0               71.0
11             86.0               32.0
12             96.0               49.0
13             65.0               19.0
14             58.0               30.0
15             41.0               87.0
16             36.0               49.0
17             45.0               37.0
18             64.0               76.0
19             43.0               32.0
20             70.0               48.0
21             35.0               14.0
22             57.0               11.0
23             96.0               74.0
24             68.0               52.0
25             68.0               79.0
26             88.0               34.0
27             67.0               41.0
28             90.0               78.0
29             36.0               75.0
30             93.0               42.0
31             45.0               84.0
32             83.0               27.0
33             76.0               51.0
34            100.0               47.0
35             73.0               14.0
36             53.0               47.0
37             47.0               11.0
38             85.0               77.0
39             37.0               44.0
40             56.0               26.0
41             73.0               90.0

In [20]:
df.math_score.fillna(20, inplace=True)

AttributeError: 'DataFrame' object has no attribute 'math_score'

In [21]:
df['MathScore']=df['MathScore'].fillna(89)

In [22]:
df.MathScore.isna().sum()

np.int64(0)

In [23]:
df

,MathScore,Reading_score,Writing_score\t,Performance_score,Club_joindate
0,47.0,84.0,36.0,23.0,2024.0
1,59.0,71.0,NaN,89.0,2024.0
2,89.0,70.0,48.0,19.0,NaN
3,89.0,83.0,78.0,75.0,2020.0
4,60.0,113.0,85.0,NaN,2024.0
5,20.0,100.0,64.0,62.0,2022.0
6,44.0,117.0,35.0,17.0,2022.0
7,44.0,87.0,90.0,50.0,2023.0
8,47.0,84.0,88.0,69.0,2020.0
9,24.0,89.0,88.0,48.0,2023.0
10,89.0,77.0,81.0,71.0,2020.0
11,89.0,114.0,86.0,32.0,2020.0
12,89.0,75.0,96.0,49.0,2023.0
13,89.0,80.0,65.0,19.0,2024.0
14,89.0,91.0,58.0,30.0,2020.0
15,60.0,103.0,41.0,87.0,2021.0
16,49.0,97.0,36.0,49.0,2022.0
17,56.0,88.0,45.0,37.0,2021.0
18,36.0,76.0,64.0,76.0,2023.0
19,53.0,72.0,43.0,32.0,2022.0
20,55.0,80.0,70.0,48.0,2023.0
21,21.0,NaN,35.0,14.0,2021.0
22,56.0,NaN,57.0,11.0,2020.0
23,37.0,NaN,96.0,74.0,2021.0
24,45.0,103.0,68.0,52.0,2024.0
25,22.0,83.0,68.0,79.0,2021.0
26,51.0,81.0,88.0,34.0,2021.0
27,48.0,78.0,67.0,41.0,NaN
28,30.0,115.0,90.0,78.0,NaN
29,50.0,103.0,36.0,75.0,NaN
30,27.0,93.0,93.0,42.0,NaN
31,30.0,95.0,45.0,84.0,2023.0
32,54.0,111.0,83.0,27.0,2022.0
33,55.0,112.0,76.0,51.0,2020.0
34,23.0,75.0,100.0,47.0,2023.0
35,52.0,119.0,73.0,14.0,2022.0
36,26.0,86.0,53.0,47.0,2023.0
37,29.0,99.0,47.0,11.0,2023.0
38,43.0,103.0,85.0,77.0,2020.0
39,43.0,120.0,37.0,44.0,2020.0
40,51.0,89.0,56.0,26.0,2020.0
41,27.0,106.0,73.0,90.0,2024.0